<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Update Student Info</title>
</head>
<body>
	<h1>Input student ID# and new information to be updated...</h1>
	<form action="/students" method="POST">
		<input type="text" name="id" placeholder="Student ID">
		<input type="text" name="name" placeholder="Name">
		<input type="text" name="age" placeholder="Age">
		<input type="text" name="campus" placeholder="Campus">
		<button type="submit">Submit</button>
	</form>
</body>
</html>