#contact-info {
	font-size: .8em;
}

.job {
	background-color: #e9e5dc;
	padding: 15px;
	margin: 20px 0px;
	border-radius: 15px;
}

.bullets {
	font-size: .8em;
}

h3:hover {
	color: red;
}

#personal-objective p::first-line {
	color: blue;
}