#tako {
	display: block;
	margin: 80px auto;	
}

#hat {
	display: block;
	margin: auto;
	position: relative;
	bottom: 430px;
	left: 10px;
}

#glasses {
	display: block;
	margin: auto;
	position: relative;
	bottom: 438px;
	left: 5px;
}